.banner{
	position: relative;
	overflow: hidden;

	#main-banner{
		min-height: 100vh;
		max-height: 100vh;
		width: 100%;
		overflow: hidden;
		padding: 0;
		position: relative;
		z-index: 2;

		.carousel-inner, .carousel-item{
			height: 100%;
		}

		.carousel-item{
			img{
				margin-left: 50%;
				min-height: 100%;
				min-width: 100%;
				width: auto !important;
				transform: translateX(-50%);

				@media screen and (min-width: 992px) {
					max-width: 100%;
				}
			}

			&:after{
				content: '';
				@include all-space();
			}
		}

		.carousel-caption{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			top: 15%;
			bottom: 30%;
			right: 0;
			left: 0;
			margin: 0 auto;

			.title, .subtitle{
				text-align: center;
				color: $default;
			}

			.title{
				color: $banner-default;
				font-family: $font_poppins;
				text-shadow: 2px 2px $black;
				font-weight: 800;
				font-size: 2.1875rem;
				margin-top: 0.5rem;
				position: relative;

				&:before{
					content:'';
					background-image: url('#{$path_img}doc-icon.png');
					background-repeat: no-repeat;
					background-position: center;
					height: 140px;
					width: 100%;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 100%;
					@media (max-width: 991px){
						transform: translateX(-50%)scale(0.8)translateY(50px);
					}
					@media (max-width: 527px){
						transform: translateX(-50%) scale(0.7)translateY(75px);
						bottom: 100%;
					}
				}
			}

			.subtitle{
				color: $banner-default;
				font-family: $font_default;
				font-size: 1rem;
				margin-top: 0.3em;
				text-transform: uppercase;
				margin-bottom: 1em;
				font-weight: 600;
			}

			.btn-area{
				display: block;
				margin-top: 1em;
				padding: 0;
				position: relative;
				text-align: center;
				transition: all 0.5s ease-in-out;

				.btn{
					display: inline-flex;
					z-index: 2;
				}
			}
		}

		// Slide 1
		.slide1{

			.carousel-caption{
				.title{
					color: white;
					font-weight: 500;
					&:before{
						background-image: url('#{$path_img}doc-symbol.png');
						filter: brightness(0) invert(1);
					}
				}
			}

		}

		// Slide 2
		.slide2{
			.carousel-caption{
				.title{
					color: $white;
					font-weight: 500;
					&:before{
						background-image: url('#{$path_img}doc-symbol.png');
						filter: brightness(0) invert(1);
					}
				}
				.box{
					background-color: $btn-default-color;
					height: 100%;
					box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.18);
					display: flex;
					align-items: center;
					justify-content: center;
					@media (max-width: 991.98px) {
						margin-top: 1rem;
					}
					.subtitle{
						color: $white;
						text-transform: initial;
						font-family: $font_default;
						font-weight: 400;
						font-size: 1.275rem;
						line-height: 30px;
						padding: 0 80px;
						@media(max-width: 499.98px){
							padding: 0 20px;
							font-size: 1.075rem;
						}
					}
				}
				.btn-area{
					width: 100%;
					text-align: right;
					@media (max-width: 991.98px) {
						text-align: center;
						margin-top: 2rem;
					}
				}
			}
		}

		// Slide 3
		.slide3{
			.carousel-caption{
				.title{
					color: $white;
					font-weight: 500;
					@media (max-width: 991.98px){
						>br{
							display: none;
						}
					}
					&:before{
						background-image: url('#{$path_img}doc-symbol.png');
						filter: brightness(0) invert(1);
					}
				}
				.box{
					background-color: $default;
					height: 100%;
					box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.18);
					display: flex;
					align-items: center;
					justify-content: center;
					@media (max-width: 991.98px) {
						margin-top: 1rem;
					}
					.subtitle{
						color: $white;
						text-transform: initial;
						font-family: $font_default;
						font-weight: 400;
						font-size: 1.175rem;
						line-height: 30px;
						padding: 0 80px;
						@media(max-width: 499.98px){
							padding: 0 20px;
							font-size: 1.075rem;
							margin-bottom: 0;
							>br{
								display: none;
							}
						}
					}
				}
				.btn-area{
					width: 100%;
					text-align: right;
					@media (max-width: 991.98px) {
						text-align: center;
						margin-top: 2rem;
					}
				}
			}
		}

		// Slide 4
		.slide4{
			.carousel-caption{
				.size-fix{ 
					height: 40%;
					@media (max-width: 991.98px) {
						height: auto;
					}
				}

				.title{
					color: $white;
					font-weight: 500;
					&:before{
						background-image: url('#{$path_img}doc-symbol.png');
						filter: brightness(0) invert(1);
					}
				}
				.box{
					background-color: $brown;
					height: 100%;
					box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.18);
					display: flex;
					align-items: center;
					justify-content: center;
					@media (max-width: 991.98px) {
						margin-top: 1rem;
					}
					.subtitle{
						color: $white;
						text-transform: initial;
						font-family: $font_default;
						font-weight: 400;
						font-size: 1.175rem;
						line-height: 30px;
						padding: 0 80px;
						@media(max-width: 499.98px){
							padding: 0 20px;
							font-size: 1.075rem;
						}
					}
				}
				.btn-area{
					width: 100%;
					text-align: right;
					.btn{
						background-color: $brown;
						&:hover{
							background-color: $brown_2;
						}
					}
					@media (max-width: 991.98px) {
						text-align: center;
						margin-top: 2rem;
					}
				}
			}
		}
	}
}
	

	.controls{
		display: flex;
		// align-items: center;
		align-items: flex-end;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		height: calc(100% - 107px);
		padding-right: 0;
		position: absolute;
		// top: 0;
		top: auto;
		right: 0;
		bottom: 0;

		.carousel-control-prev, .carousel-control-next{
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-color: $white;
			border-right: none;
			opacity: 1;
			padding: 1.1em;
			position: relative;
			@include min-max-size(60px);
			transition: all 0.3s ease-in-out;

			.carousel-control-prev-icon{
				height: 100%;
				width: 100%;
			}

			&:hover{
				border: 1.3px solid $white;
				background-color: transparent;
				.carousel-control-prev-icon{
					filter: brightness(0) invert(1);
				}
				.carousel-control-next-icon{
					filter: brightness(0) invert(1);
				}
			}
		}

		.carousel-control-prev{
			.carousel-control-prev-icon{
				background-image: url('#{$path_img}element/left-arrow.svg');
				filter: brightness(51.1%) sepia(0.7) hue-rotate(166deg) saturate(424.2%) brightness(35.2%);
			}
		}

		.carousel-control-next{
			margin-bottom: 1.5em;

			.carousel-control-next-icon{
				background-image: url('#{$path_img}element/right-arrow.svg');
				filter: brightness(51.1%) sepia(0.7) hue-rotate(166deg) saturate(424.2%) brightness(35.2%);
			}
		}
	}

	.go-down{
		border: none;
		cursor: pointer;
		display: flex;
		background: transparent;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding-top: 5px;
		position: absolute;
		bottom: -2px;
		right: 0;
		left: 0;
		@include min-max-size(60px);
		text-align: center;
		z-index: 3;
		

		&, &:after{ transition: all 0.3s linear; }

		&:after{
			background: url('#{$path_img}element/down-arrow-w.png') center no-repeat;
			background-size: auto;
			content: '';
			display: block;
			height: 30px;
			width: 30px;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:hover{
			background: transparent;
			&:after{
				transform:translateY(10px);
			}
		}
	}

	@media(max-width: 767px){
		#main-banner{
			.carousel-item{
				img{
					height: 100%;
					width: auto !important;
					min-width: 100%;
					// position: relative;
					// left: 50%;
					// transform: translateX(-50%);
				}
			}

			.carousel-caption{
				.title{
					text-align: center;

					span{ font-size: 3em; }
				}

				.btn-area{ padding: 1em; }
			}
		}

		.controls{
			height: auto;
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
			bottom: -2px;
			flex-direction: row-reverse;
			padding: 0;

			.carousel-control-next,
			.carousel-control-prev{	    
				border-bottom: none;
				border-right: 1px solid $white;
				margin-bottom: 0;
			}

			.carousel-control-prev{
				margin-right: 70px;
			}
			
			.carousel-control-next{}
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		#main-banner{
			.carousel-caption{
				.title{
					span{
						font-size: 2.5rem;
						text-shadow: -2px -2px 0 $color_2;
					}
				}
			}
		}

		.go-down{
			.mouse{ bottom: -12px; }
		}
	}

	@media(max-width: 991px){
		#main-banner{
			overflow: hidden;

			.carousel-item{
				overflow: hidden;
			}

			.carousel-caption{
				top: 8%;
				bottom: 8%;
				left: 0;
				right: 0;
				padding: 1em;

				.title.subtitle{
					br{ display: none; }
				}

				.title{
					font-size: 1.5rem;
					margin-bottom: 0;
				}
				
				.subtitle{
					font-size: 0.8rem;
				}

				.btn-area{
					margin-top: 2em;

					.btn{
						font-size: 0.9em;
					}
				}
			}
		}

		.go-down{
			bottom: -2px;
		}
	}

	@media(max-width: 499px){
		#main-banner{
			.carousel-caption{
				.title{ margin-top: -3em; }
			}
		}
	}

	@media(min-width: 500px) and (max-width: 767px){
		#main-banner{
			.carousel-item{
				img{
					height: auto;
					max-height: 150%;
				}
			}

			.carousel-caption{
				bottom: 20%;
			}
		}

		.controls{
			.carousel-control-next,
			.carousel-control-prev{
				@include min-max-size(40px);
				padding: 0;

				.carousel-control-next-icon,
				.carousel-control-prev-icon{
					height: 20px;
					width: 20px;
				}
			}
		}

		.go-down{ @include min-max-size(40px); }
	}

	@media(max-width: 765px){
		#main-banner{
			// max-height: calc(100vh - 87px);
			height: calc(100vh - 4.5em);
			min-height: calc(100vh - 4.5em);
			max-height: calc(100vh - 4.5em);

			.carousel-item{
				// height: calc(100vh - 4em);
				height: 100%;
			}

			.carousel-caption{
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				.btn-area{
					display: block;
					margin: 0 auto;
				}
			}
		}

		.go-down{
			flex: 0 0 67%;
			max-width: 67%;
		}
	}

	@media(max-width: 499px) and (min-height: 600px){
		#main-banner{
			max-height: calc(100vh - 120px);
		}
	}

	@media(min-width: 768px) and (max-width: 1199px){
		#main-banner{
			.carousel-caption{
				margin: 0 auto;
				top: 21%;
				bottom: 10%;

				.title{ font-size: 3em; }
				.subtitle{ font-size: 2em; }
			}
		}

		.controls{
			.carousel-control-next,
			.carousel-control-prev{
				@include min-max-size(55px);
			}
		}

		.go-down{ @include min-max-size(55px); }
	}

	@media(min-width: 992px) and (max-width: 1199px){
		#main-banner{
			.carousel-caption{
				top: 8%;

				.title{
					font-size: 4em;
					line-height: 1em;
					margin-bottom: 0;
				}
				.subtitle{
					font-size: 3em;
				}
			}
		}

		.go-down{
			flex: 0 0 20%;
			max-width: 20%;
		}
	}

	@media(min-width: 1200px) and (max-width: 1599px){
		#main-banner{
			.carousel-caption{
				top: 8%;
			}
		}
	}

	// @media(min-width: 768px) and (max-width: 1199px) and (min-height: 600px){
		@media(min-width: 768px) and (max-width: 1399px) and (orientation: portrait){
			#main-banner{
				min-height: 50vh;
				max-height: 50vh;

				.carousel-item{
					height: 100%;

					img{
						min-height: 100%;
						width: auto !important;
						min-width: 100%;
						max-width: 150%;
						margin-left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		@media(min-height: 768px) and (max-width: 1199px) and (orientation: landscape){
			#main-banner{
				min-height: 80vh;
				max-height: 80vh;

				.carousel-item{
					height: 100%;

					img{
						min-height: 100%;
						width: auto !important;
						min-width: 100%;
						max-width: 150%;
						margin-left: 50%;
						transform: translateX(-50%);
					}
				}

				.carousel-caption{
					.title{ font-size: 3.3em; }
					.subtitle{ font-size: 2.5em; }
				}
			}
		}

		/* @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		 	#main-banner{}
		 } */
