footer{
	background: $default;
	color: $white;

	p{
		font-size: 0.8em;
		margin: 0;
	}

	a{
		color: $white;

		&:hover{
			color: $color_1;
		}
	}

	.top-footer{
		padding: 2.5em 0;

		.title{
			color: $white;
			font-family: $font_poppins;
			font-weight: 600;
			margin-bottom: 1.5em;
			text-transform: uppercase;
			text-align: left;
			@media (max-width: 991.98px){
				text-align: center;
			}
		}

		.link-logo{
			display: inline-block;
			margin-bottom: 2em;
			overflow: hidden;
			.img-fluid{
				min-width: auto;
			}
		}

		.logo-social{
			text-align: left;
			display: flex;
			flex-direction: column;
			@media (max-width: 425px){
				text-align: center;
			}

			.social-media{
				background: $footer-social-links;
				border-radius: 50px;
				display: inline-flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				padding: 1.5em 2em;
				width: 50%;
				@media  (min-width: 992px) and (max-width: 1199px){
					width: 60%;
				} 
				@media (max-width: 991.98px){
					width: 100%;
				}

				li{
					@include min-max-size(35px);
					margin: 0 8px;

					a{
						border: 2px solid $white;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
						width: 100%;

						&, .icon{ transition: all 0.1s ease-in-out; }

						&.facebook:hover{
							@include circle_border_background($white);
							.icon{
								color: $default;
							}
						}
						&.twitter:hover{
							@include circle_border_background($white);
							.icon{
								color: $default;
							}
						}
						&.linkedin:hover{
							@include circle_border_background($white);
							.icon{
								color: $default;
							}
						}
						&.instagram:hover{
							@include circle_border_background($white);
							.icon{
								color: $default;
							}
						}
						/*
						&.youtube:hover{
							@include circle_border_background($youtube);
						}
						&.flickr:hover{
							@include circle_border_background($flickr);
						}
						*/

						&:hover{
							.icon{ color: $white; }
						}
					}
				}
			}
		}

		.acesso-rapido{
			.footer-links{
				font-size: 0.9em;
				padding: 0;
				text-align: left;
				@media (max-width: 991.98px){
					text-align: center;
				}

				li{
					line-height: 1.8rem;
					a{
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
		}

		.newsletter{
			padding-left: 0;

			.title{
				display: flex;
				align-items: center;
				margin-top: 2.1em;

				&:before{
					content: '';
					background: url('#{$path_img}element/send-mail.png') center no-repeat;
					@include min-max-size(38px, 25px);
					margin-right: 10px;
				}
			}

			.form-newsletter{
				border-radius: 6px;
				flex: 1;
				margin-top: 1.2em;
				margin-bottom: 0;
				overflow: hidden;
				position: relative;

				#email_newsletter{
					border: none;
					border-radius: 6px;
					box-shadow: none;
					padding-right: 65px;

					@include form_placeholder(){
						color: $black;
					}

					&:focus{
						outline: 2px solid $color_1;

						@include form_placeholder(){
							color: $color_1;
						}

						& + .btn{
							background: $color_1;

							&:after{
								color: $white;
							}
						}
					}
				}

				.btn-next{
					background: $white;
					border-radius: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;

					&, &:after{ transition: all 0.2s linear; }

					&:after{
						color: $black;
						content: "\203A";
						font-size: 2em;
						font-weight: 400;
						line-height: 0.65em;
						display: inline-block;
						min-height: 30px;
						min-width: 30px;
					}

					&:hover{
						background: $color_1;

						&:after{
							color: $white;
						}
					}
				}
			}
		}

		.contato{
			// margin-left: auto;

			.contatos{
				padding: 0;

				li{
					margin-bottom: 1em;
					&:hover{
						opacity: 0.8;
					}
					@media (max-width: 991.98px){
						text-align: center;
					}
				}

				.icon{
					color: $white;
					margin-right: 10px;
				}

				.telefone{
					font-size: 1.5em;
					font-weight: 600;
				}

				.email{
					font-size: 0.9em;

					.icon{ font-size: 1.3em; }
				}
			}
		}
	}

	.bottom-footer{
		border-top: 1px solid $footer-social-links;
		background: $default;
		padding: 1.5em 0;
	}

	.copyright, .developed-by{
		display: flex;
		align-items: center;
	}

	.copyright{
		@media (max-width: 575.98px){
			justify-content: center;
			margin-top: 1rem;
		}
	}

	.developed-by{
		justify-content: flex-end;
		@media (max-width: 575.98px){
			justify-content: center;
			margin-top: 1rem;
		}


		.kbrtec-link{
			color: $white;
			&:hover{ color: $color_2; }
		}

		.btn-topo{
			background: $blue_default;
			color: $white;
			font-size: 0.8em;
			font-weight: 600;
			margin-left: 3em;
			padding: 1.5em;

			&, &:before{ transition: all 0.2s ease-in; }

			&:before{
				color: $white;
				content: '\203A';
				display: block;
				font-size: 3em;
				font-weight: 100;
				line-height: 7px;
				margin: 0 auto;
				margin-bottom: 5px;
				transform: rotate(-90deg);

				@include min-max-size(20px, 20px);
			}

			span{
				width: 100%;
			}

			&:hover{
				background: $white;
				&, &:before{ color: $blue_default; }
				&:before{ transform: rotate(-90deg) translateX(15px); }
			}
		}
	}

}