header{
	background: white;
	position: relative;
	z-index: 20;

	&.inside{
		background-color: white;
		background-attachment: fixed;
		background-size: cover;

		&:after{
			content: '';
			background: white;
			@include all-space();
			z-index: -1;
		}
	}

	&, .navbar, .navbar::before{
		transition: all 0.2s ease-in-out;
	}

	.col-logo{
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(1.5);
		padding-bottom: 0.5em;
		@media (max-width: 575.98px){
			transform: scale(1.0);
		}

		a{
			text-align: center;
			width: 100%;
			z-index: 11;
		}

		img{
			padding: 1em;
		}

		&:hover{}
	}

	.btn-menu{
		display: flex;
		align-items: center;
		margin-left: auto;

		.btn{
			background: none;
			border: 1px solid $white;
			border-radius: 100%;
			color: $nav-icon;
			@include min-max-size(50px);
			margin-left: auto;

			&[aria-expanded="true"]{
				background: $white;
			}
		}
	}

	.navbar{
		margin-left: auto;
		padding: 0;

		.navbar-collapse,
		.navbar-nav,
		.navbar-nav .nav-item .nav-link{
			height: 100%;
		}

		.navbar-nav{
			flex: 1 1 auto;
			justify-content: space-around;
			margin-left: 1rem;

			.nav-item{
				display: flex;
				align-items: center;
				white-space: nowrap;

				.nav-link{
					color: $nav-link;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $font_default;
					font-size: 	0.75rem;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 16px;
					padding: 2.8em 0.9em;
					text-transform: uppercase;
					transition: all 0.2s ease-in-out;

					&.dropdown-item{
						display: flex;
						justify-content: flex-start;
						padding: 1em;
						position: relative;
						background: $default;
						color: $white;

						&:hover{
							background: $white;
							color: $card-text-default;

							&:before{
								content: '';
								background: red;
								height: 100%;
								left: 0;
								position: absolute;
								width: 5px;
								z-index: 1;
							}
						}
					}

					&:hover{
						background: $color_1;
						color: $navlink-hover;
					}
				}

				&.dropdown{
					.dropdown-menu{
						background: $white;
						border-radius: 0;
						border: none;
						margin-top: 0;
						padding: 0;
						width: 100%;
					}
				}

				&.social-media{
					&>div{
						margin: 0 0.4em;

						&:last-of-type{
							margin-right: 0;
						}
					}

					.nav-link{
						border: 1px solid $white;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 1em;
						font-weight: 100;
						@include min-max-size(35px);
						padding: 5px;
						text-align: center;

						.icon{
							color: $nav-icon;
						}
					}

					.telephone{
						transform: scaleX(-1);
						.nav-link{
							border: 1.5px solid $icon-border;
							&:hover{
								background: $nav-icon;
								border-color: $color_1;
								.icon{
									color: $white;
								}
							}
						}
					}

					.facebook{
						.nav-link{
							border: 1.5px solid $icon-border;
							&:hover{
								color: $white;
								background: $nav-icon;
								border-color: $nav-icon;
								.icon{
									color: $white;
								}
							}
							
						}
					}

					.instagram{
						.nav-link{
							border: 1.5px solid $icon-border;
							&:hover{
								color: $white;
								background: $nav-icon;
								border-color: $nav-icon;
								.icon{
									color: $white;
								}
							}
						}
					}

					.twitter{
						.nav-link{
							border: 1.5px solid $icon-border;
							&:hover{
								color: $white;
								background: $nav-icon;
								border-color: $nav-icon;
								.icon{
									color: $white;
								}
							}
						}
					}

					.linkedin{
						.nav-link{
							border: 1.5px solid $icon-border;
							&:hover{
								color: $white;
								background: $nav-icon;
								border-color: $nav-icon;
								.icon{
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}

	@media(max-width: 767px){
		&:after{
			content: '';
			background: rgba($full_black, 0.8);
			@include all-space();
			z-index: -1;
		}

		.navbar{
			.navbar-nav{
				.nav-item{
					.nav-link{
						display: flex;
						justify-content: center;
						padding: 1em;
					}

					&.dropdown{
						&.show{
							border-bottom: 1px solid $white;
							padding-bottom: 1em;
						}

						.dropdown-menu{
							background: none;
						}
					}

					&.social-media{
						display: flex;
						justify-content: center;
						margin: 1.5em auto 1.5em;

						.nav-link{
							&:hover{
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	@media(max-width: 991px){
		&,
		&.inside{
			background-image: none !important;
		}

		box-shadow: 0px 6px 14px 0 rgba($black,.2);
		margin-top: 0;
		padding-top: 0;

		.col-logo{
			margin: 0;
			padding: 0;
		}

		.navbar{
			padding: 0;

			&:before{
				border-width: 79px;
				left: -79px;
			}

			.navbar-collapse{ height: 100%; }

			.navbar-nav{
				.nav-item{
					display: inline-block;

					.nav-link{
						margin: 0;
						height: auto;
					}
				}
			}
		}
	}

	@media(max-width: 499px){
		.col-logo{
			flex: 0 0 56%;
			max-width: 56%;
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		.col-logo{
			padding-right: 0;
		}

		.navbar{
			.navbar-nav{
				display: inline-flex;
				align-items: center;
				flex-flow: column;
				float: left;
				font-size: 0.9em;
				height: 100%;
				width: 100%;
				padding-bottom: 0;
				padding-top: 0;

				.nav-item{
					display: inline-flex;
					margin-left: 0;
					width: 100%;

					&.dropdown{
						.dropdown-menu{
							background: #0a0a0a;
							position: absolute;
							width: 100%;
							.dropdown-item{
								justify-content: center;
								br{
									display: none;
								}
							}
						}
					}

					.nav-link{
						padding: 1.5em 1em;
						width: 100%;

						&:hover{ margin: 0; }
					}
				}

				.social-media{
					margin: 1rem 0;
					justify-content: center;
				}
			}
		}
	}

	@media(min-width: 992px){
		.navbar{
			.navbar-nav{
				.nav-item{
					&.dropdown{
						.dropdown-menu{
							&:hover{
								display: block;
							}
						}

						.dropdown-toggle{
							&:hover{
								& + .dropdown-menu{
									display: block;
									height: auto;
								}
							}
						}
					}
				}
			}
		}
	}

	@media(min-width: 992px) and (max-width: 1199px){
		.navbar{
			padding-left: 0;

			.navbar-nav{
				.nav-item{
					.nav-link{
						font-size: 0.75em;
						padding: 2em 0.5em;

						&.dropdown-toggle{
							&.d-lg-none{ display: flex !important; }
							&.d-lg-block{ display: none !important; }
						}
					}

					&.dropdown{
						.dropdown-menu{
							width: auto;
							
							.nav-link{
								&.d-lg-none{ 
									display: flex !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

