#faleConosco{
	background: $default;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 2px solid $white;
	border-right: none;
	color: $white;
	height: 95px;
	padding: 0.65rem;
	position: fixed;
	right: 0;
	top: auto;
	bottom: 60px;
	z-index: 11;
	@media screen and (max-width: 991px) {
		height: 70px;
		padding: 0.65em;
		transform: translateX(20%);
		p{
			display: none;
		}
		
	}

	&:hover{
		background: darken($default, 20%);
		border-color: darken($default, 20%);
	}

	&, p{ 
		transition: all 0.5s ease-in-out;
	}

	>.whatsapp{
		&:before{
			content: '';
			background: url('#{$path_img}fixed-whatsapp.png');
			width: 70px;
			background-size: cover;
			height: 70px;
			display: block;
			margin-right: 1rem;
			@media screen and (max-width: 991px) {
				width: 50px;
				height: 50px;
			}
		}
	}
	.icon{
		display: block;
		margin-right: 15px;
		font-size: 3em;
		font-weight: 100;
	}

	p{
		font-size: 0.8em;
		font-weight: 600;
		margin: 0;
		margin-bottom: 0.2rem;
		text-align: center;
		text-transform: uppercase;
		font-family: $font_poppins;

		strong{
			font-size: 1.5rem;
			font-style: normal;
			line-height: 30px;
			font-weight: 800;
			letter-spacing: 0.03em;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
		}
		@media screen and (max-width: 991px) {
			font-size: 0.7em;
			.strong{
				font-size: 1.2rem;
			}
		}
	}

	a{
		@include all-space();
	}


	&.fixed{
		position: fixed;

		&:not(.closed){
			// bottom: auto !important;
			bottom: 60px;
		}

		&:not(:hover){
			// right: -215px;
			transform: translateX(70%);
			@media screen and (max-width: 991px) {
				transform: translateX(20%)!important;
			}
		}
	}
}


// APENAS PARA CORRIGIR NO IE e EDGE

.ie-btn-fix{
	right: -215px!important;
}