// Main Colors =======================
$color_1: #FAF9F9;

$color_2: #fcc104;
$color_2_light: #fecc02;
$color_2_medium: #fbba06;
$color_2_dark: #f8b009;
$color_2_orange: #f8ac0a;

$color_3: #071635;
$color_3_dark: #03102b;

// Other Colors ======================
$black: #333333;
$full_black: #000000;
$white: #ffffff;

$nav-link: #323232;

$blue: #2196f3;
$blue_default: #09395b;
$blue_default2: #002948;

$green: #52bf56;
$green_default: #4caf50;
$green_soft: #cfffd1;

$red: #fe2504;
$red_default: #de2c1f;
$red_wine: #381416;
$red_soft: #ffdddc;

$light_gray: #eceef2;
$light_gray2: #cecece;
$light_gray3: #f9f9f9;

// social networks ------------
$facebook: #3b5998;
$flickr: #ff0084;
$google_maps: #ea4335;
$instagram: #5851db;
$linkedin: #0077b5;
$twitter: #1da1f2;
$youtube: #ff0000;
$whatsapp: #25d366;
// ----------------------------


// DocForce Colors

$navlink-hover: #119187;
$default: #119187;
$nav-icon: #119187;
$icon-border: #F2F1EE;

// Banner

$banner-default: #173539;
$btn-default-color: #EE4F53;
$btn-hover: #EE4F53;
$brown: #866E4E;
$brown_2: #301C00;

// Card 
$card-bg : #FAF9F9;
$card-text-default: #143438;

// Footer
$footer-social-links : #0E867D;

//Blog

$title-after-color: linear-gradient(90deg, rgba(17,145,135,1) 25%, rgba(255,255,255,1) 25%);
$post-title: #143438;
$post-resume: #143438;



