// MIXINS ============================================================
@mixin all-space($top: 0, $left: 0, $bottom: 0, $right: 0){
	position: absolute;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;

	@if ($top == 0 and $left == 0 and $bottom == 0 and $right == 0){
		height: 100%;
		min-height: 100%;
		width: 100%;
		min-width: 100%;
	}
}

@mixin horizontal-gradient($from, $to, $stop: 100%){   
	background-color: $from; 
	background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to)); 
	background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
	background-image: -o-linear-gradient(left, $from 0%, $to $stop);
	background: -ms-linear-gradient(left, $from 0%, $to $stop);
	background: linear-gradient(to right, $from 0%, $to $stop);
}

@mixin min-max-size($width: 0, $height: 0){
	width: $width;
	min-width: $width;
	max-width: $width;

	@if($height == 0){
		height: $width;
		min-height: $width;
		max-height: $width;
	}@else{
		height: $height;
		min-height: $height;
		max-height: $height;
	}
}

@mixin min-max-height($height: 0){
	height: $height;
	min-height: $height;
	max-height: $height;
}

@mixin min-max-width($width: 0){
	width: $width;
	min-width: $width;
	max-width: $width;
}

@mixin text_gradient($color1, $color2){
	background: -webkit-linear-gradient($color1 30%, $color2 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin circle_border_background($color){
	background-color: $color;
	border-color: $color;
}

@mixin form_placeholder(){
	&::placeholder{
		@content
	}

	&::-webkit-input-placeholder{
		@content
	}

	&::-ms-input-placeholder{
		@content
	}

	&::-moz-placeholder{
		@content
	}
}

@mixin radial_gradient($content){
	background: -moz-radial-gradient($content);
	background: -webkit-radial-gradient($content);
	background: -o-radial-gradient($content);
	background: -ms-radial-gradient($content);
}

@mixin keyframes($animationName){
	@-webkit-keyframes #{$animationName}{
		@content;
	}
	@-moz-keyframes #{$animationName}{
		@content;
	}
	@-o-keyframes #{$animationName}{
		@content;
	}
	@keyframes #{$animationName}{
		@content;
	}
}

@mixin animation-rotate($name: rotation, $from: 0deg, $to: 359deg){
	@include keyframes($name)
	{
		from{
			-webkit-transform: rotate($from);
		}
		to{
			-webkit-transform: rotate($to);
		}
	}
}

@mixin shake-effect{
	@include keyframes(shakeEffect)
	{
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
		10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
		40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
		50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
		100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
}

@include animation-rotate(rotation, 0deg, 359deg);
@include animation-rotate(rotationReverse, 359deg, 0deg);
@include shake-effect();
