body{
	font-family: $font_default;
	// touch-action: none;
}

// links -------------------------------------------
a{
	&,
	&:active,
	&:focus,
	&:hover{
		text-decoration: none;
	}
}

// listas ------------------------------------------
ul{
	list-style: none;
}

.main-wrapper{
	overflow: hidden;
	position: relative;
}
