@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400,700,800|Poppins:400,600,800|Yesteryear:400,600,800|PT+Sans|Raleway:300,400,600,800');

// path images -------------
$path_img: '../images/';

// Typography ------------------------------------------
$font_default: 'Open Sans', 'Arial', sans-serif;

$font_icons: "Font Awesome 5 Free";
$font_icons_brands: "Font Awesome 5 Brands";

$font_cursive: 'Yesteryear', cursive, 'Arial', sans-serif;
$font_montserrat: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
$font_poppins: 'Poppins', 'Open Sans', 'Arial', sans-serif;
$font_raleway: 'Raleway', 'Open Sans', 'Arial', sans-serif;
$font_verdana: 'Verdana', 'Poppins', 'Open Sans', 'Arial', sans-serif;
