.main-about.about{
	padding: 4em 0;
	position: relative;

	@media(max-width: 767px){
		padding: 0;

		.about-image{
			background-attachment: unset;
			border-radius: 0;
			background-size: cover;
			display: none;
			height: 200px;
			margin-top: 1em;
		}
	}

	@media(max-width: 1199px){
		padding: 3em 0;

		.about-image{
			background-attachment: unset;
			background-position-x: 35%;
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		.content{
			padding: 2.5em 1em 2.5em 2em;

			.description{
				p{ font-size: 0.9em; }
			}
		}
	}

	@media(min-width: 991px) and (max-width: 1199px){
		.content{
			flex: 0 0 50%;
			max-width: 50%;
			padding: 2.5em 1em 2.5em 3em;
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.about-image{
			background-attachment: inherit;
			background-position-x: 35%;
		}
	}
}