.main-brands{
	padding: 3.5em 0 3em;

	&>.container{ z-index: 3; }

	.title-area{
		margin-bottom: 2em;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			right: 0;
			height: 120%;
			top: -10%;
			bottom: -10%;
			background: $light_gray3;
			width: 10%;
			border-top-left-radius: 60px;
			border-bottom-left-radius: 60px;
		}

		.container{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				right: 15px;
				border-bottom: 2px solid $light_gray;
				height: 2px;
				margin: auto;
				z-index: -1;
			}

			.title, .brands-slider-btns{
				background: $white;
			}

			.title, .brands-slider-btns{ padding-right: 1.5em; }

			.brands-slider-btns{
				display: flex;
				align-items: center;
				justify-content: center;

				.btn-prev, .btn-next{
					border-width: 2px;
					box-shadow: none;
					// position: initial;
					position: inherit;
				}

				.btn-prev{
					// left: unset;
					left: inherit;
					margin-right: 1em;
				}
				.btn-next{
					// right: unset;
					right: inherit;
					margin-right: 1em;
				}
			}
		}
	}

	.brands{
		.container{ position: relative; }

		.swiper-wrapper{
			display: flex;
			flex-flow: row;
		}

		.brand{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2em;

			&:not(.swiper-slide-active){
				img{
					filter: grayscale(100%);
					opacity: 0.3;
				}

				&:hover{
					img{
						filter: grayscale(0);
						opacity: 1;
					}
				}
			}
		}
	}

	@media(max-width: 767px){
		padding: 2.5em 1em 2em;

		.slider{ padding: 0 0.5em; }

		.title-area{
			margin-bottom: 1em;

			&:after{ display: none; }

			.container{
				padding-right: 0;

				.brands-slider-btns{ padding: 0; }
			}
		}

		.brands{
			.swiper-wrapper{ margin: 0; }
			.brand{ padding: 0.5em; }
		}
	}

	@media(max-width: 499px){
		.title-area{
			.container{
				.title{ padding-right: 1em; }

				.brands-slider-btns{
					.btn-prev {
						left: unset;
						margin-right: 0.5em;
					}
				}
			}
		}

		.brands{
			padding-bottom: 0;

			.container{ padding: 0; }

			.btn-prev, .btn-next{
				bottom: -73px;
				top: auto;
			}

			.btn-prev{ left: calc(50% - 60px); }
			.btn-next{ right: calc(50% - 60px); }
		}
	}

	@media(min-width: 500px) and (max-width: 767px){
		padding-top: 1.5em;
	}

	@media(min-width: 500px) and (max-width: 599px){
		.brands{
			.swiper-container{
				flex: 0 0 83%;
				max-width: 83%;
			}

			.btn-prev{ left: 0; }
			.btn-next{ right: 0; }
		}
	}

	@media(min-width: 600px) and (max-width: 767px){
		.brands{
			.btn-prev{ left: -2em; }
			.btn-next{ right: -2em; }
		}
	}

	@media(min-width: 768px) and (max-width: 1199px){
		.brands{
			.btn-prev{ left: 0; }
			.btn-next{ right: 0; }
		}
	}

	@media(min-width: 768px) and (max-width: 1299px){
		.title-area{
			&:after{ right: -3%; }
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		padding: 2.5em 1em 1em;
		
		.title-area{ margin-bottom: 1em; }

		.brands{
			.swiper-container{
				flex: 0 0 84%;
				max-width: 84%;
			}
		}
	}

	@media(min-width: 992px){
		.brands{
			.brand{
				&:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next){
					img{
						filter: grayscale(100%);
						opacity: 0.3;
					}

					&:hover{
						img{
							filter: grayscale(0);
							opacity: 1;
						}
					}
				}
			}
		}
	}

	@media(min-width: 992px) and (max-width: 1199px){
		padding: 1.5em 1em 3em;

		.brands{
			.swiper-container{
				flex: 0 0 90%;
				max-width: 90%;
			}
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.title-area{
			.container{
				.brands-slider-btns{
					display: inline-flex;
					margin-left: auto;
					min-width: 56px;
					justify-content: flex-start;
					align-items: center;
					padding: 0;

					.btn-prev{
						margin-left: auto;
					}

					.btn-next{
						right: inherit;
						margin-right: 0;
						margin-left: 1em;
					}
				}
			}
		}
	}
}
