.cta{
	&.fale-conosco{
		background: url('#{$path_img}contate-nos.jpg') center no-repeat;
		padding: 6% 0;
		background-size: cover;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;

		.contato{
			position: relative;
			&:before{
				background: url('#{$path_img}mapa.png') center no-repeat;
				content: '';
				position: absolute;
				left: 0;
				background-size: cover;
				height: 238px;
				width: 200px;
				z-index: 10;
				bottom: -30px;
			}
			@media (max-width: 991.98px) {
				&:before{
					display: none;
				}
			}
		}

		.title{
			font-weight: 700;
			font-size: 1.8em;
			color: $white;
			margin-bottom: 1em;

			a{
				color: $color_1;
				&:hover{
					color: darken($color_1, 10%);
				}
			}
		}

		.btn-area{
			text-align: center;

			.btn{
				background: $white;
				color: #EE4F53;
				border: 2px solid white;
				display: inline-flex;

				&:hover{
					 background: transparent;
					 color: white; 
					}
			}
		}
	}

	@media(max-width: 768px){
		&.fale-conosco{
			.title{
				font-size: 1.1em;
			}
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		&.fale-conosco{
			display: block;
		}
	}
}