.form-orcamento{
	margin-top: 3em;
	margin-bottom: 2em;
	padding: 0 0.5em;

	.wrapper{
		background: $white;
		border-radius: 20px;
		box-shadow: 0px 0 13px 0px rgba($full_black,.1);
		padding: 4em;
		text-align: center;

		.title{
			font-size: 1.3em;
			margin-bottom: 1.8em;
			text-transform: uppercase;

			strong{
				font-size: 1.5em;
				font-weight: 800;
			}
		}

		.form{
			margin: 0 auto;

			.form-control{
				border-width: 2px;
				box-shadow: none;

				@include form_placeholder(){
					color: $black;
				}

				&:focus{
					@include form_placeholder(){
						color: $color_1;
					}
				}
			}

			.btn{
				background: $color_1;
				border-color: $color_1;
				color: $white;
				flex-direction: row-reverse;
				margin: 2em auto 0;

				&:before{
					margin-top: -7px;
					margin-right: 0;
					margin-left: 10px;
				}

				&:hover{
					background: darken($color_1, 10%);
					border-color: darken($color_1, 10%);
					color: $white;
				}
			}
		}
	}

	@media(max-width: 767px){
		margin-top: 1em;
		margin-left: -1em;
		margin-right: -1em;
		padding: 0;

		.wrapper{
			border-radius: 0;
			padding: 2em 1em;

			.title{
				font-size: 1em;

				strong{
					font-size: 1.3em;
				}
			}
		}
	}
}