.other-products{
	margin-top: 3em;
	margin-bottom: 2em;
	padding: 1em;

	.title{
		display: flex;
		flex-direction: column;
		font-size: 1.3em;
		margin-bottom: 1.8em;
		text-transform: uppercase;

		strong{
			font-size: 1.5em;
			font-weight: 800;
			width: 100%;
		}
	}

	.product-list{
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		.product{
			&:first-child{
				padding-right: 3em;
			}

			&:nth-child(2){
				padding-left: 1.5em;
				padding-right: 1.5em;
			}

			&:nth-child(3){
				padding-left: 3em;
			}

			.wrap{
				display: flex;
				flex-direction: column;
				height: 100%;
				position: relative;

				&,
				.link,
				.btn,
				.btn .arrow{
					transition: all 0.2s ease-in-out;
				}

				&:hover{
					// transform: translateY(-1em);

					figure{ box-shadow: 0 0 20px rgba($black, 0.13); }

					.btn-wrap{
						.btn{
							background: $color_1;
							border-color: $color_1;

							.arrow{
								transform: translateX(10px);
							}
						}
					}
				}
			}

			figure{
				border: 1px solid lighten($light_gray2, 10%);
				border-radius: 10px;
				margin-bottom: 1.5em;
				overflow: hidden;
				text-align: center;

				img{ margin: 0 auto; }
			}

			.product-title{
				font-size: 1.3em;
				font-weight: 600;
				margin-bottom: 0.8em;
			}

			.product-description{
				font-size: 0.95em;
				margin-bottom: 1.5em;
			}

			.btn-wrap{
				margin-top: auto;
				text-align: center;

				.btn{
					display: inline-flex;
					min-width: 70%;
				}
			}

			.link{
				@include all-space();
			}
		}
	}

	@media(max-width: 991px){
		margin-top: 0;
		margin-bottom: 0;

		.product-list{
			.product{
				padding: 0 1em !important;
			}
		}
	}

	@media(max-width: 767px){
		.title{
			font-size: 1em;
		}

		.product-list{
			.product{
				margin-bottom: 2em;

				figure{
					margin-bottom: 1em;
				}

				.product-title{
					font-size: 1.1em;
					margin-bottom: 10px;
				}
				.product-description{
					font-size: 0.9em;
					line-height: 1.3em;
				}
			}
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		.product-list{
			.product{
				padding: 0 1em !important;
				margin-bottom: 2em;

				figure{
					margin-bottom: 1em;
				}

				.product-title{
					font-size: 1.1em;
					margin-bottom: 10px;
				}
				.product-description{
					font-size: 0.9em;
					line-height: 1.3em;
				}
			}
		}
	}
}