.produtos{
	&.main-products{
		padding: 5em 0 4em;
		
		.title-area{
			padding-top: 1em;
			padding-left: 0.5em;
		}

		@media(max-width: 767px){
			padding: 1em 0;
			
			.title-area{
				margin-bottom: 1em;
				padding: 2em 1em 0;
			}
		}

		@media(min-width: 768px) and (max-width: 1199px){
			padding: 2.5em 0;
			
			.title-area{
				margin-bottom: 1em;
				padding: 2em 1em 0;
			}
		}
	}
}