.breadcrumb{
	display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
	background: none;
	font-size: 0.8em;
	margin-bottom: 1em;
	padding: 17px 0;
	width: 100%;
	position: relative;

	&:before{
		background-size: 100%;
		content: '';
		height: 1px;
		width: 40px;
		position: absolute;
		top: 0;
	}

	&>li{
		&:first-child{
			color: $black;
		}
	}

	.breadcrumb-item{
		display: flex;
		align-items: center;

		&+.breadcrumb-item{
			padding-left: 1.5em;
			@media (max-width: 328px) {
				padding-left: 0;
			}

			&::before{
				content: "\203A";
				color: $black;
				display: inline-block;
				height: 12px;
				width: 12px;
				padding: 0;
				margin-right: 7px;
				font-size: 1.5em;
				text-align: center;
				line-height: 7px;
				font-weight: 600;
			}
		}

		a{
			color: $black;
			text-decoration: none;
		}

		&:hover{
			&::before, a{
				color: lighten($black, 15%);
			}
		}

		&.active{
			&::before, a{
				color: $default;
				&:hover{ color: lighten($default, 20%); }
			}
		}
	}

	@media(max-width: 767px){
		margin-bottom: 0;

		.breadcrumb-item{
			&.post-title{
				display: none;
			}
		}
	}
}