// BUTTONS =========================
.btn-gradient{
	background: $default;
	background-size: 100% 200%;
	background-position: top center;
	cursor: pointer;

	&:hover{
		background-position: bottom center;
		background: $btn-hover;
	}
}

.btn-transparent{
	background: transparent;
	background-size: 100% 200%;
	background-position: top center;
	cursor: pointer;

	&:hover{
		background-position: bottom center;
		background: transparent;
	}
}

.btn{
	border-radius: 7px;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;

	&:focus{ box-shadow: none; }
}

.btn-default{
	@extend .btn-gradient;
	color: $white;
	display: flex;
	align-items: center;
	font-family: $font_default;
	font-size: 1em;
	font-weight: 600;
	padding: 1em 2em;
	text-transform: uppercase;
	transition: all 0.2s linear;

	p{ margin: 0; }

	&:hover{
		&, p{ color: $white; }
	}

	@media(max-width: 767px){
		font-size: 0.9em;
		padding: 1em 2em;
	}

	@media(min-width: 768px) and (max-width: 991px){
	    font-size: 0.9em;
    	padding: 0.7em 1.5em;
	}
}

.btn-secondary{
	@extend .btn-transparent;
	background-color: $default;
	color: $white;
	display: flex;
	align-items: center;
	font-family: $font_default;
	font-size: 1em;
	font-weight: 600;
	padding: 1em 2em;
	text-transform: uppercase;
	transition: all 0.2s linear;

	p{ margin: 0; }

	&:hover{
		background-color: $btn-hover;
		&, p{ color: $white; }
	}

	@media(max-width: 767px){
		font-size: 0.9em;
		padding: 1em 2em;
	}

	@media(min-width: 768px) and (max-width: 991px){
	    font-size: 0.9em;
    	padding: 0.7em 1.5em;
	}
}

.btn-circle{
	@extend .btn-default;
	border-radius: 100%;
	padding: 1em;
}

.btn-arrow{
	@extend .btn-default;
	padding: 0.9em 2em;


	&:after{
		content: "\203A";
		font-size: 2em;
		font-weight: 100;
		margin-left: 10px;
		line-height: 0.5em;
		margin-top: -5px;
	}
}

.btn-clickhere{
	@extend .btn-secondary;
	padding: 0.9em 2em;
}

.btn-readmore{
	@extend .btn-secondary;
	background: transparent;
	color: $default;
	font-family: $font_poppins;
	text-transform: capitalize;
	padding: 0;
	&:hover{
		color: $default;
		background: transparent;
	}
}

.btn-certidao{
	@extend .btn-secondary;
	padding: 0.9em 0;
	display: flex;
	justify-content: flex-start;
	background-color: transparent;
	color: $default;

	&:hover{
		background-color: transparent;
		color: $btn-hover;
	}
	
	@media (min-width: 320px) and (max-width: 991px){
		justify-content: center;
	}

	&:after{
		content: "\203A";
		font-size: 2em;
		font-weight: 100;
		margin-left: 10px;
		line-height: 0.5em;
		margin-top: -6.5px;
	}
}
