// FORMS ========================
.form-group{
	label{
		color: $black;
		font-size: 0.9em;
		font-weight: 600;

		&:not(.error){
			color: lighten($black, 10%);
			display: flex;
			align-items: center;
		}

		&[data-info="error"],
		&.error{
			color: $red;
		}
	}

	.form-select,
	.form-date{
		position: relative;

		select,
		input[type="date"]{
			&.form-control{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance:none;
				padding-right: 35px;
			}
		}

		input[type="date"]{
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance:none;
			}

			&.form-control{
				padding-right: 9px;
			}
		}
		
		&:after{
			background: $white;
			border-right: 2px solid $blue_default;
			border-bottom: 2px solid $blue_default;
			content: '';
			display: block;
			@include min-max-size(8px);
			position: absolute;
			top: 19px;
			right: 19px;
			transform: rotate(45deg) translateY(-50%);
		}
	}
}

.form-control{
	background: $white;
	border-color: darken($light_gray, 3%);
	border-radius: 10px;
	box-shadow: 1px 1px 3px 0 rgba($black, 0.07);
	font-size: 0.9em;
	height: auto;
	padding: 15px;
	outline: none;

	@include form_placeholder(){
		color: darken($light_gray2, 10%);
	}

	&:focus{
		border-color: $color_1;
		// box-shadow: 1px 1px 3px 0 rgba($black, 0.07);
		box-shadow: 0 0 0 1px $color_1;

		@include form_placeholder(){
			color: $color_1;
			font-weight: 600;
		}
	}

	&[data-error="error"],
	&.error{
		border-color: $red;
		box-shadow: 0 0 0 1px $red;
	}
}

// disable textarea resize
textarea{resize: none; }

.form{
	.status-msg{
		border-radius: 8px;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 15px;
		position: relative;

		&.error-msg{
			background: $red_soft;
			color: $red;

			&:before{ background: url('#{$path_img}element/error.svg') center no-repeat; }
		}

		&.success-msg{
			background: $green_soft;
			color: darken($green_soft, 60%);

			&:before{ background: url('#{$path_img}element/success.png') center no-repeat; }
		}

		&:before{
			content: '';
			display: block;
			background-size: cover;
			@include min-max-size(24px);
			margin-right: 10px;
		}
	}
}

