.nav-pagination{
    margin: 3em auto 2.5em;
    text-align: center;
}

.pagination{
    border: 0;
    border-radius: 50px;
    display: inline-flex;
    font-family: $font_poppins;
    font-size: 0.8em;
    margin: 0;
    padding: 10px;

    &, li, a{ outline: none; }

    li, a{ border: none; }

    .page-item{
        display: flex;
        align-items: center;

        &, .page-link{
            display: flex;
            align-items: center;
        }

        .page-link{
            border-radius: 0;
            box-shadow: none !important;
            font-size: 1.3em;
            line-height: 0;
            margin: 0 5px;
            transition: all 0.1s linear;

            &:not(.prev):not(.next){
                background: none;
                border-radius: 100%;
                color: $default;
                font-weight: 600;
                justify-content: center;
                transition: all 0.2s ease-in-out;

                @include min-max-size(35px);
                padding: 10px;

                &:hover{
                    background: $default;
                    color: $white;
                }
            }

            &.prev, &.next{
                color: $default;
                font-weight: 600;
                font-size: 1.1em;
                text-transform: capitalize;

                &,&:hover{ background: none; }
            }
        }

        &.active{
            .page-link{
                background: $default !important;
                color: $white !important;

                &:hover{ background: darken($default, 10%) !important; }
            }
        }

        &.disabled{
            .page-link{
                &, &:hover{
                    color: darken($default, 50%) !important;
                    opacity: 0.5;
                }
            }
        }
    }

    @media (max-width: 767px){
        margin-bottom: 0;
    }
}