.slider{
	.btn-prev, .btn-next{
		background: $white;
		box-shadow: 1px 1px 15px 9px rgba($black, 0.07);
		border: 1px solid $light_gray;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include min-max-size(55px);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;

		&, .icon{ transition: all 0.2s ease-in-out; }

		.icon{
			color: $color_1;
			font-size: 1.3em;
		}

		&:hover{
			background: $color_1;
			border-color: $color_1;

			.icon{
				color: $white;
			}
		}
	}

	.btn-prev{ left: -4em; }
	.btn-next{ right: -4em; }

	@media(max-width: 767px){
		.btn-prev, .btn-next{
			@include min-max-size(50px);
		}
	}
}