.title-area{
	// color: $black;
	color: $color_3_dark;
	display: block;

	.title{
		font-size: 1.7em;
		font-weight: 100;
		letter-spacing: 0;
		margin-bottom: 15px;
		text-align: left;
		text-transform: uppercase;

		strong{
			font-size: 1.5em;
			font-weight: 600;
			letter-spacing: -2px;
		}
	}

	.subtitle{
		font-size: 1.2em;
		font-weight: 100;
		line-height: 1.5em;
	}

	.title-services{
		font-size: 1.7em;
		font-weight: 100;
		letter-spacing: 0;
		margin-bottom: 15px;
		text-align: left;
		text-transform: uppercase;
		color: white;

		strong{
			font-size: 1.5em;
			font-weight: 600;
			letter-spacing: -2px;
			text-transform: capitalize;
		}
	}

	@media(max-width: 767px){
		.title{ font-size: 1.3em; }
		.subtitle{
			font-size: 0.9em;
			br{ display: none; }
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		.subtitle{
			br{ display: none; }
		}
	}

	@media(min-width: 768px) and (max-width: 1199px){
		.title{ font-size: 1.5em; }
		.subtitle{
			font-size: 1em;
		}
	}
}
