.about{
	position: relative;
	overflow: hidden;
	margin-bottom: 3em;

	&.page{
		padding: 0;

		&>.container{
			z-index: 1;
		}
	}

	.parallax{
		-webkit-perspective: initial !important;
		perspective: initial !important;
		-webkit-transition: initial;
		-o-transition: initial;
		transition: initial;
		-webkit-transform: initial !important;
		transform: initial !important;
	}

	.about-image{
		background: url('#{$path_img}quem-somos.png') center no-repeat;
		background-attachment: fixed;
		background-position-x: -60%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		@media (min-width: 1441px){
			background-size: contain;
		}
	}


	.about-image-integra{
		background: url('#{$path_img}/sobre/sobre.png') center no-repeat;
		background-attachment: fixed;
		background-position-x: 0;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		@media (min-width: 1441px){
			background-size: contain;
		}
	}

	.content{
		padding: 4em 1em;
		padding-left: 2em;
	}
	
	.title-area{
		margin-bottom: 2em;
		text-align: left;
		.title-integra{
			strong{
				font-weight: 600;
				font-family: $font_poppins;
				font-size: 2.1rem;
				text-transform: capitalize;
			}
		}
	}

	.about-description{
		font-size: 1rem;
		font-weight: 600;
		margin-top: 3em;
		@media (max-width: 696px) {
			br{
				display: none;
			}
		}
	}	

	.content{
		display: flex;
		justify-content: center;
		flex-flow: column;

		.about-list{
			.list-item{
				font-size: 1em;
				line-height: 1.5em;
				padding: 1.8rem 0;
				position: relative;
				list-style-type: none;
				&:nth-child(1):before{
					content: '';
					background: url('#{$path_img}/sobre/icons.png') -10px -64px;
					position: absolute;
					left: -2.5rem;
					height: 33px;
					width: 33px;
					top: 1.5rem;
					@media (min-width: 320px) and (max-width: 1024px) {
						top: 2rem;
					}
				}
				&:nth-child(2):before{
					content: '';
					background: url('#{$path_img}/sobre/icons.png') -63px -64px;
					position: absolute;
					left: -2.5rem;
					height: 33px;
					width: 33px;
					top: 1.5rem;
					@media (min-width: 320px) and (max-width: 1024px) {
						top: 2rem;
					}
				}
				&:nth-child(3):before{
					content: '';
					background: url('#{$path_img}/sobre/icons.png') -10px -10px;
					position: absolute;
					left: -2.5rem;
					height: 33px;
					width: 33px;
					top: 1.5rem;
					@media (min-width: 320px) and (max-width: 1024px) {
						top: 2rem;
					}
				}
				&:nth-child(4):before{
					content: '';
					background: url('#{$path_img}/sobre/icons.png') -68px -10px;
					position: absolute;
					left: -2.5rem;
					height: 33px;
					width: 33px;
					top: 1.5rem;
					@media (min-width: 320px) and (max-width: 1024px) {
						top: 2rem;
					}
				}
			}

			&:after{
				position: absolute;
				right: 0;
				bottom: 20px;
				content: '';
				background: #F2F1EE;
				width: 160px;
				height: 160px;
				border-radius: 110px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				display: none;
				@media screen and (max-width: 1200px) {
					display: none;
				}
			}

			.btn-area{
				margin-top: 3em;
				position: relative;
				right: 2.5rem;
				@media (max-width: 767px) {
					right: 1rem;
				}

				.btn{
					background: $default;
					border: none;
					display: inline-flex;

					&:hover{ background: $btn-hover; }
				}
			}
		}
	}

	&.page{
		.content{
			padding: 0em 1em 6em 2em;
		}
	}

	.parceiros{
		.title{
			color: $card-text-default;
			width: 100%;
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5em;
			display: flex;
			justify-content: center;
			text-align: center;
		}
	}

	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(0.9);
		transition: all 0.5s ease-in-out;

		&:hover{
			transform: scale(1.0);
			cursor: pointer;
		}
	}

	@media(max-width: 1199px){
		&.page{
			.about-image{
				background-attachment: unset;
				background-position-x: 35%;
				flex: 0 0 50%;
				max-width: 50%;
			}

			.content{
				padding: 2em 1em 2em 2em;
			}
		}
	}

	@media(max-width: 767px){
		&.page{
			padding: 0;
			

			.content{
				padding: 1em;

				.description{
					.btn-area{
						margin-top: 2em;
						position: relative;
						right: 1rem;
					}
				}
				.about-list{
					.btn-area{
						margin-top: 2em;
						position: relative;
						right: 1rem;
					}
				}
			}

		}

		.content{ padding: 2em 1.5em; }
		.title-area{ margin: 0 0 1em; }

		.text{
			.description{
				p{
					font-size: 1em;
					line-height: 1.5em;
				}
			}
		}
	}

	@media(min-width: 600px) and (max-width: 991px){
		padding: 3em 0;

		&:after{ height: 95%; }
	}

	@media(min-width: 600px) and (max-width: 767px){
	}

	

	@media(min-width: 768px) and (max-width: 1199px){
		&.page{
			.about-image{
				background-attachment: unset;
				background-position-x: 35%;
				flex: 0 0 50%;
				max-width: 50%;
			}

			.content{
				padding: 2em 1em 2em 2em;
			}
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		.content{ padding: 2.5em 1em; }

		.title-area{
			margin-bottom: 0;
		}

		.text{
			.description{
				p{ font-size: 1em; }
			}
		}

		.parceiros{
			.valor{
				height: auto;
				width: 32.33%;
				padding: 1.5em 2em 2.5em;

				.title{
					margin-bottom: 0.5em;

					&:before{ margin-bottom: 0.5em; }
				}

				.description{ line-height: 1.3em; }
			}
		}
	}

	@media(min-width: 992px) and (max-width: 1199px){
		padding: 1em 0;

		.text{
			.description{
				p{ font-size: 1em; }
			}
		}

		.parceiros{
			.valor{
				width: 275px;
				height: 275px;
				padding: 2em;

				.title{
					margin-bottom: 14px;

					&:before{ margin-bottom: 5px; }
				}
			}
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.about-image{
			background-attachment: inherit;
			background-position-x: 35%;
		}
	}
}

.bg-about{
	background: url('#{$path_img}/sobre/bg-sobre.png') center no-repeat;
	background-size: cover;
}

