.bg-gray-blog{
	position: relative;
	padding: 0;
		&:before{
		content: '';
		position: absolute;
		background: #F2F1EE;
		width: 100%;
		height: 300px;
		}
}

.blog{

    .integra{
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    .conteudo{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-post{
            .card-date{
                display: block;
                font-size: 13px;
                line-height: 23px;
                .calendar{
                    margin-right: 0.5rem;
                    color: $default;
                }
            }
            strong{
                font-family: $font_poppins;
                font-weight: 600;
                position: relative;
                font-size: 2.1rem;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: $default;
                    height: 3px;
                    width: 100px;
                }
            }
        }    
    }

    .post-integra{
        margin-top: 3rem;
        .post{
            border: 0;
            background: white;
            margin: 1.5rem 0;
            .post-body{
                display: flex;
                flex-direction: column;
                padding: 0;
            }
            .post-content{
                padding: 2.75rem 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                @media (max-width: 991px){
                    padding: 2.75rem 0;
                }
                .post-text{
                    font-family: $font_default;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 26px;
                    word-break: break-word;
                }

            }
        }
        
        .other-posts{
            .icon{
                font-size: 2rem;
                color: #129187;
                margin-right: 1rem;
            }

            .title{
                font-family: $font_poppins;
                font-weight: 600;
                font-size: 20px;
                color: $post-title;
                line-height: 23px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .post{
                .card{
                    border: 0;
                    transition: all 0.4s ease-in-out;
                    .card-img-top{
                        max-height: 200px;
                    }
                    .card-body{
                        .card-text{
                            font-family: $font_poppins;
                            font-weight: 600;
                            line-height: 17px;
                            font-size: 1rem;
                            color: $post-title;
                        }
                    }
                    .btn-area{
                        display: block;
                        margin-right: auto;
                        .btn-readmore{
                            background: transparent;
                            &:after{
                                content: '';
                                position: absolute;
                                bottom: 9px;
                                right: 132px;
                                background: $default;
                                width: 0%;
                                transition: width 0.4s ease-in;
                                height: 2px;
                            }
                            .plus{
                                margin-right: 0.5rem;
                                background: $default;
                                padding: 0.6rem;
                                color: $white;
                                border-radius: 25px;
                            }
                            &:hover{
                                background-color: transparent;
                                .plus{
                                    background: $white;
                                    box-shadow: 0px 4px 50px rgba(0,0,0,0.09);
                                    color: $default;
                                    border-radius: 25px;
                                }
                            }
                        }
                    }
                    &:hover{
                        transform: scale(1.04);
                        .btn-area{
                            .btn-readmore{
                                &:after{
                                    width: 29.5%;
                                }
                                .plus{
                                    background: $white;
                                    box-shadow: 0px 4px 50px rgba(0,0,0,0.09);
                                    color: $default;
                                    border-radius: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}