.bg-gray-blog{
	position: relative;
	padding: 0;
		&:before{
		content: '';
		position: absolute;
		background: #F2F1EE;
		width: 100%;
		height: 300px;
		}
}

.blog{
    .conteudo{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-blog{
            strong{
                font-family: $font_poppins;
                font-weight: 600;
                position: relative;
                font-size: 2.1rem;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: $title-after-color;
                    height: 3px;
                    width: 1110px;
                    @media (min-width: 320px) and (max-width: 991px){
                        width: 100%;
                        height: 5px;
                        background: $default;
                    }
                }
            }
        }    
    }

    .search-box{
        display: flex;
        position: relative;
        @media (min-width: 768px) and (max-width: 991px){
            bottom: 100%;
        }
        .search-input{
            display: block;
            margin-left: auto;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 0.7rem 0.5rem;
            width: 100%;
            @media (min-width: 320px) and (max-width: 767px){
                width: 100%;
                display: inline-block;
                margin-top: 0.5rem;
                margin-right: 0;
                margin-left: 0;
            }
            @media (min-width: 768px) and (max-width: 991px){
                display: block;
                margin-top: 0;
                width: 50%;
                margin-right: 0;
                margin-left: auto;
            }

            &:focus{
                outline: 0;
                border: 1px solid $default;
                box-shadow: 1px 1px 3px 0 rgba(51,51,51,0.07);
            }
        }
        .search-icon{
            border: 0;
            background: transparent;
            position: absolute;
            right: 0;
            color: $default;
            top: 50%;
            transform: translateY(-50%);
            &:focus{
                outline: none;
            }
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: -7px;
                width: 2px;
                height: 25px;
                background: $default;
            }
        }
    }

    .listagem-posts{
        margin-top: 5rem;
        z-index: 1;

        a{
            .card{
                border: 0;
                margin: 1.5rem 0;
                box-shadow: 0px 4px 50px rgba(0,0,0,0.09);
                transition: all 0.4s ease-in-out;
                .card-body{
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    overflow: hidden;
                    max-height: 260px;
                    @media (min-width: 320px) and (max-width: 767px){
                        flex-direction: column;
                        max-height: 100%;
                    }
                }
                .card-img{
                    height: auto;
                    max-width: 390px;
                    min-height: auto;
                    min-width: 390px;
                    .img{
                        width: 100%;
                    }
                }
                .card-content{
                    padding: 2.75rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
    
                    .card-date{
                        font-size: 13px;
                        line-height: 23px;
                        .calendar{
                            margin-right: 0.5rem;
                            color: $default;
                        }
                    }
                    .card-title{
                        font-family: $font_poppins;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 21px;
                        color: $post-title;
                    }
                    .card-text{
                        font-family: $font_default;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 26px;
                        word-break: break-word;
                    }
                    .btn-area{
                        .btn-readmore{
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                bottom: 13px;
                                right: 0;
                                background: $default;
                                width: 0%;
                                transition: width 0.4s ease-in;
                                height: 2px;
                            }
                        }
                        .plus{
                            margin-right: 0.5rem;
                            background: $default;
                            padding: 1rem;
                            color: $white;
                            border-radius: 25px;
                        }
                    }
                }

                &:hover{
                    transform: scale(1.04);
                    .card-content{

                        .btn-area{
                            .plus{
                                background: $white;
                                color: $default;
                            }
                            .btn-readmore{
                                &:after{
                                    width: 58%;
                                }
                            }
                        }
                    }
                }
            }
            color: $post-title;
            &:hover{
                color: $post-title;
            }
        }
    }
}

// Erro 404 Blog

.blog-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        p{
            font-family: $font_poppins;
        }
    }
    .btn-default{
        color: $white!important;
    }
}