.conteudo{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	.title-certidao{
		strong{
			font-family: $font_poppins;
			font-weight: 600;
			position: relative;
			font-size: 2.1rem;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 112px;
				background: $default;
				height: 5px;
				width: 100%;
			}
		}
	}

	.description-certidao{
		font-size: 1.1rem;
		font-weight: 600;
	}

	.origins-research{
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		strong{
			text-transform: uppercase;
			color: $default;
			font-size: 0.9rem;
			font-weight: 600;
			&:before{
				content:'';
				position: absolute;
				background: url('#{$path_img}doc-symbol.png') no-repeat;
				background-position: center;
				height: 100%;
				right: 182px;
				z-index: -1;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);			
			}
		}
	}
}

.certidoes-deck{
	margin-top: 3em;
	margin-bottom: 3em;
	.card{
		border-radius: 10px;
		height: 530px;
		min-height: 530px;
		box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
		border: 0;
		transition: all 0.4s ease-in-out;
		.card-body{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			.card-title{
				.title{
					font-family: $font_poppins;
					font-size: 1.1rem;
					line-height: 18px;
					font-weight: bold;
					text-align: center;
				}
				.desc{
					font-family: $font_poppins;
					font-size: 0.95rem;
					line-height: 18px;
					font-weight: normal;
					text-align: center;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						left: 50%;
						width: 50%;
						transition: all 0.4s ease-in-out;
						transform: translateX(-50%);
						height: 2px;
						background: $default;
						display: block;
						margin-top: 0.5rem;
					}
				}
			}

			.box-gray{
				background: #f7f7f7;
				box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
				border-radius: 9px;
				padding: 4rem 1.9rem;
				@media (min-width: 576px) and (max-width: 991px) {
					padding: 1rem 0.9rem;
				}

				strong{
					font-family: $font_default;
					font-weight: normal;
					line-height: 20px;
					font-size: 0.95rem;
					letter-spacing: -0.025em;
					color: $card-text-default;
				}
			}

			.value{
				display: flex;
				flex-direction: column;
				align-items: center;
				.investment{
					font-family: $font_default;
					color: $default;
					font-size: 0.95rem;
					line-height: 26px;
					font-weight: normal;
				}
				strong{
					font-family: $font_poppins;
					color: $default;
					font-size: 1.8rem;
					line-height: 37px;
					font-weight: bold;
				}
			}
		}

		&:hover{
			transform: scale(1.05);
			.card-body{
				.desc{
					&:after{
						width: 20%;
					}
				}
			}
		}
	}
	 
}


@media (min-width: 320px) and (max-width: 425px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-certidao{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				font-family: $font_poppins;
				font-weight: 600;
				position: relative;
				text-align: left;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 100%;
					background: $default;
					height: 5px;
					width: 100%;
				}
			}
		}
	
		.description-certidao{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 2rem;
			text-align: left;
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);			
				}
			}
		}
	}
	.margin-fix{
		margin: 0 15px!important;
	}
	
	.certidoes-deck{
		margin-top: 3em;
		margin-bottom: 0;
		.card{
			height: 400px;
			.card-body{
				.box-gray{
					padding: 2rem 1.9rem;
				}
			}
		}
	}
}

@media (min-width: 426px ) and (max-width: 575px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-certidao{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				font-family: $font_poppins;
				font-weight: 600;
				position: relative;
				text-align: left;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 100%;
					background: $default;
					height: 5px;
					width: 100%;
				}
			}
		}
	
		.description-certidao{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 4rem;
			text-align: center;
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);		
				}
				br{
					display: none;
				}	
			}
		}
	}
	.margin-fix{
		margin: 0 15px!important;
	}

	.certidoes-deck{
		margin-top: 3em;
		margin-bottom: 0;
		.card{
			height: 400px;
			.card-body{
				.box-gray{
					padding: 2rem 1.9rem;
				}
			}
		}
	}
}

@media (min-width: 576px ) and (max-width: 991px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-certidao{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				font-family: $font_poppins;
				font-weight: 600;
				position: relative;
				text-align: left;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 100%;
					background: $default;
					height: 5px;
					width: 100%;
				}
			}
		}
	
		.description-certidao{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 4rem;
			text-align: center;
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);		
				}
				br{
					display: none;
				}	
			}
		}
	}
	.margin-fix{
		display: block;
		margin: 0 auto;
	}

	.certidoes-deck{
		margin-top: 3em;
		margin-bottom: 0;
		flex-direction: column;
		.card{
			height: 400px;
			margin-bottom: 15px;
			.card-body{
				.box-gray{
					padding: 2rem 1.9rem;
				}
			}
		}
	}
}
