.certidoes{
	color: $color_3_dark;
	display: block;
	
	.title{
		font-size: 1.7em;
		font-family: $font_poppins;
		font-weight: 100;
		letter-spacing: 0;
		margin-bottom: 15px;
		text-align: center;
		text-transform: initial;

		strong{
			font-size: 2.1rem;
			font-weight: 600;
			letter-spacing: -2px;
		}
	}
}

.certidoes-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3em;
	margin-bottom: 3em;

	a{
		color: $color_3_dark;
		&:hover{
			color: $color_3_dark;
		}
	}
	.box{
		background: $white;
		padding: 2em 1em;
		border-radius: 20px;
		margin: 1rem;
		border: 0;
		transition: all 0.4s ease-in-out;
		max-height: 100%;
		min-height: 91%;

		.content{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 6em;
			height: 230px;
			.title{
				font-family: $font_poppins;
				font-weight: bold;
				line-height: 30px;
				font-size: 1.1rem;
				position: relative;
			}
			.brazil{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -10px -10px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.spain{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -140px -75px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.italy{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -10px -75px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.global{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -75px -10px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.portugal{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -75px -75px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.other{
				&:before{
					content: '';
					position: absolute;
					left: -60px;
					top: 10px;
					width: 45px;
					height: 45px;
					background: url('#{$path_img}flags/flags.png') -140px -10px;
					transition: transform 0.5s ease-in-out;
				}
			}

			.description{
				font-family: $font_default;
				line-height: 20px;
				display: block;
    			margin-top: auto;
			}
		}

		&:hover{
			transform: scale(1.05);

			.brazil, .spain, .italy, .global, .portugal, .other{
				&:before{
					transform: rotateY(360deg)scale(1);
				}
			}
			.btn-certidao{
				color: $btn-hover;
			}
		}
	}


	@media (min-width: 991px){
		.no-pad{
			padding: 0;
		}
	}
}

@media (min-width: 320px) and (max-width: 767px){
	.certidoes{
		color: $color_3_dark;
		display: block;
		
		.title{
			font-size: 1.7em;
			font-family: $font_poppins;
			font-weight: 100;
			letter-spacing: 0;
			margin-bottom: 15px;
			text-align: center;
			text-transform: initial;
	
			strong{
				font-size: 2.1rem;
				font-weight: 600;
				letter-spacing: -2px;
			}
		}
	}
	
	.certidoes-list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 3em;
		margin-bottom: 3em;
	
		a{
			color: $color_3_dark;
			&:hover{
				color: $color_3_dark;
			}
		}
		.box{
			background: $white;
			padding: 2em 1em;
			border-radius: 20px;
			margin: 1rem;
			border: 0;
	
			.content{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 0em;
				height: 100%;
				.title{
					font-family: $font_poppins;
					font-weight: bold;
					line-height: 30px;
					font-size: 1.1rem;
					position: relative;
					text-align: center;
					margin-top: 2rem;
				}
				.brazil{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -10px -10px;
					}
				}
	
				.spain{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -140px -75px;
					}
				}
	
				.italy{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -10px -75px;
					}
				}
	
				.global{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -75px -10px;
					}
				}
	
				.portugal{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -75px -75px;
					}
				}
	
				.other{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -140px -10px;
					}
				}
	
				.description{
					font-family: $font_default;
					line-height: 20px;
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.certidoes{
		color: $color_3_dark;
		display: block;
		
		.title{
			font-size: 1.7em;
			font-family: $font_poppins;
			font-weight: 100;
			letter-spacing: 0;
			margin-bottom: 15px;
			text-align: center;
			text-transform: initial;
	
			strong{
				font-size: 2.1rem;
				font-weight: 600;
				letter-spacing: -2px;
			}
		}
	}
	
	.certidoes-list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 3em;
		margin-bottom: 3em;
	
		a{
			color: $color_3_dark;
			&:hover{
				color: $color_3_dark;
			}
		}
		.box{
			background: $white;
			padding: 2em 1em;
			border-radius: 20px;
			margin: 1rem;
			border: 0;
	
			.content{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 0em;
				height: 100%;
				.title{
					font-family: $font_poppins;
					font-weight: bold;
					line-height: 30px;
					font-size: 1.1rem;
					position: relative;
					text-align: center;
					margin-top: 2rem;
				}
				.brazil{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -10px -10px;
					}
				}
	
				.spain{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -140px -75px;
					}
				}
	
				.italy{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -10px -75px;
					}
				}
	
				.global{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -75px -10px;
					}
				}
	
				.portugal{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -75px -75px;
					}
				}
	
				.other{
					&:before{
						content: '';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						top: -50px;
						width: 45px;
						height: 45px;
						background: url('#{$path_img}flags/flags.png') -140px -10px;
					}
				}
	
				.description{
					font-family: $font_default;
					line-height: 20px;
					text-align: center;
				}
			}
		}
	}
}