.contato.page{
	position: relative;
	overflow: hidden;

	&>.container{
		background: $white;
		margin-bottom: 4em;
		padding: 0 0em 1em;
		z-index: 1;
	}

	.content{
		&>.container{
			background: $white;
		}
	}

	.title-area{
		// margin-top: em;
		margin-bottom: 3em;

		.title{ 
			margin-bottom: 3.1em!important;
			font-family: $font_poppins;
			font-weight: 300;
			color: $card-text-default;
			text-transform: capitalize;
			line-height: 41px;
		 }

		 strong{
			margin-bottom: 1.1em;
			font-family: $font_poppins;
			font-weight: 600;
			font-size: 2.1rem;
			color: $card-text-default;
			text-transform: capitalize;
			line-height: 31px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 153%;
				background: $default;
				width: 100%;
				height: 5px;
				display: block;
				@media (min-width: 320px) and (max-width: 767px) {
					top: 153%;
				}
				@media (min-width: 768px) and (max-width: 991px){
					top: 122%;
				}
				@media (min-width: 992px) and (max-width: 1199px){
					top: 158%;
				}
			}
		 }

		.subtitle{
			font-weight: 600;
			font-size: 1rem;
			line-height: 20px;
			font-style: normal;
			a{
				color: $black;

				&:hover{
					 color: $default;
				}
			}
		}
	}

	.form{

		.box-lightgreen{
			background: #E7F4F3;
			box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
			border-radius: 5px;
			padding: 0.7rem 0 0.7rem 2.5rem;
			margin-bottom: 1rem;
			.send{
				position: relative;
				font-family: $font_default;
				font-size: 0.7rem;
				color: $default;
				font-weight: bold;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				display: flex;
    			align-items: center;
				&:before{
					content: '';
					position: absolute;
					background: url('#{$path_img}checked.png') no-repeat;
					width: 18px;
					height: 18px;
					left: -25px;
				}
			}
		}

		.form-control{
			&:focus{
				border: 1px solid $default;
				box-shadow: 1px 1px 4px rgba(17, 145, 135, 0.39);
			}
		}
		.btn{
			font-size: .9em;
			padding: 1em 3em;
		}
	}

	.contacts{
		.contact-list{
			padding-left: 0;

			.contact{
				display: flex;
				align-items: center;
				margin-bottom: 2em;
				position: relative;

				.circle{
					@extend .btn-circle;
					background: $default;
					border-color: $default;
					display: flex;
					align-items: center;
					justify-content: center;

					@include min-max-size(60px, 60px);
					margin-right: 1em;
					text-align: center;

					.icon{
						font-size: 1.8em;
						font-weight: 500;
					}
				}

				p{
					color: $black;
					line-height: 1.3em;
					margin: 0;
				}

				a{ @include all-space(); }

				&:hover{
					.circle{ color: $white; }
				}
				
				&.atendimento{
					&:hover{
						.circle{
							background: darken($color_1, 10%);
							border-color: darken($color_1, 10%);
						}
					}
				}


				
				&.email{
					&:hover{
						.icon{ 
							color: $default;
						}
						.circle{
							background: $white;
						}
					}
				}

				&.localizacao{
					.circle{
						.icon{
							font-weight: inherit;
						}
					}
					&:hover{
						.circle{
							background: $google_maps;
							border-color: $google_maps;
						}
					}
				}

				&.whatsapp{
					&:hover{
						.circle{
							background: $whatsapp;
							border-color: $whatsapp;
						}
					}
				}

				&.telephone{
					.icon{ 
						font-weight: inherit;
						transform: scaleX(-1);
					}
					.contact-description{

						b{
							position: relative;
							bottom: 10px;
							&:after{
								position: absolute;
								top: 21px;
								content: '(11) 94156-5963';
								display: block;
								width: 120px;
								font-weight: 500;
							}
						}
					}

					
					&:hover{
						.icon{ 
							color: $default;
						}
						.circle{
							background: $white;
						}
					}
				}
			}
		}
	}

	@media(max-width: 991px){
		.title-area{
			margin-top: 1em;
			margin-bottom: 1em;

			.title{
				margin-bottom: 0.7em;
			}
		}

		.contacts{
			margin-top: 1em;
			padding: 0 1em;

			.contact-list{
				.contact{
					.circle{ margin-right: 0.5em; }
					p{
						font-size: 0.9em;
						line-height: 1.2em;
					}
				}
			}
		}
	}

	@media(max-width: 767px){
		&>.container{
			margin-bottom: 0;
			padding: 0 1em;
		}

		.content{
			&>.container{
				margin-bottom: 1.5em;
			}
		}

		.form{
			.btn{
				margin: 0 auto;
			}
		}
	}

	@media(min-width: 500px) and (max-width: 991px){
		.contacts{
			.contact-list{
				display: flex;
				flex-wrap: wrap;

				.contact{
					width: 50%;

					p{ word-break: break-word; }
				}
			}
		}
	}

	@media(min-width: 576px) and (max-width: 767px){
		&>.container{
			margin-bottom: 2em;
		}
	}

	@media(min-width: 992px) and (max-width: 1199px){
		.contacts{
			.contact-list{
				padding: 0;

				.contact{
					margin-bottom: 1em;

					.circle{
						margin-right: 0.5em;
					}

					p{
						word-break: break-all;
						line-height: 1.3em;
					}
				}
			}
		}
	}

	@media(max-width: 1023px){
		.contacts{
			.contact-list{
				padding: 0;

				.contact{
					margin-bottom: 1em;

					.circle{
						@include min-max-size(50px, 50px);

						.icon{ font-size: 1.5em; }
					}
				}
			}
		}
	}
}
