.bg-gray{
	position: relative;
	padding: 0;
		&:before{
		content: '';
		position: absolute;
		background: #F2F1EE;
		width: 100%;
		height: 180px;
		}
}


.conteudo{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	.title-research{
		strong{
			font-family: $font_poppins;
			font-weight: 600;
			position: relative;
			font-size: 2.1rem;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 112px;
				background: $default;
				height: 5px;
				width: 100%;
			}
		}
	}

	.description-research{
		font-size: 1.1rem;
		font-weight: 600;
	}

	.origins-research{
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		strong{
			text-transform: uppercase;
			color: $default;
			font-size: 0.9rem;
			font-weight: 600;
			&:before{
				content:'';
				position: absolute;
				background: url('#{$path_img}doc-symbol.png') no-repeat;
				background-position: center;
				height: 100%;
				right: 182px;
				z-index: -1;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);			
			}
		}
	}
}

.research-paragraph{
	margin-top: 3em;
	margin-bottom: 3em;

	.paragraph-content{
		font-size: 1.1rem;
		font-weight: normal;
		font-style: normal;
		line-height: 2.5rem;
		margin-bottom: 3em;
	}

	.btn-area{
		display: block;
		margin: 0;
		margin-right: auto;
		margin-left: 1rem;
	}
}

@media (min-width: 320px) and (max-width: 425px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-research{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				font-family: $font_poppins;
				font-weight: 600;
				position: relative;
				text-align: left;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 100%;
					background: $default;
					height: 5px;
					width: 100%;
				}
			}
		}
	
		.description-research{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 2rem;
			text-align: center;
			br{
				display: none;
			}
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);			
				}
			}
		}
	}
	
	.research-paragraph{
		margin-top: 3em;
		margin-bottom: 3em;
	
		.paragraph-content{
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
			line-height: 2.5rem;
			margin-bottom: 3em;
			padding-left: 15px;
			padding-right: 15px;
			text-align: justify;
		}
	
		.btn-area{
			display: block;
			margin: 0;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@media (min-width: 426px) and (max-width: 575px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-research{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				text-align: left;
				&:after{
					top: 100%;
				}
			}
		}
	
		.description-research{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 4rem;
			text-align: center;
			br{
				display: none;
			}
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);			
				}
			}
		}
	}
	
	.research-paragraph{
		margin-top: 3em;
		margin-bottom: 3em;
	
		.paragraph-content{
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
			line-height: 2.5rem;
			margin-bottom: 3em;
			padding-left: 15px;
			padding-right: 15px;
			text-align: justify;
		}
	
		.btn-area{
			display: block;
			margin: 0;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.img-fluid{
		display: block;
		margin: 0 auto;
	}
}

@media (min-width: 576px ) and (max-width: 991px){
	.conteudo{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-research{
			display: flex;
			justify-content: flex-start;
			margin-top: 1rem;
			strong{
				font-family: $font_poppins;
				font-weight: 600;
				position: relative;
				text-align: left;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 100%;
					background: $default;
					height: 5px;
					width: 100%;
				}
			}
		}
	
		.description-research{
			font-size: 1.1rem;
			font-weight: 600;
			margin-top: 4rem;
			text-align: center;
		}
	
		.origins-research{
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			strong{
				text-transform: uppercase;
				color: $default;
				font-size: 0.9rem;
				font-weight: 600;
				margin-top: 6rem;
				&:before{
					content:'';
					position: absolute;
					background: url('#{$path_img}doc-symbol.png') no-repeat;
					background-position: center;
					height: 100%;
					right: 0;
					z-index: -1;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);			
				}
			}
		}
	}
	
	.research-paragraph{
		margin-top: 3em;
		margin-bottom: 3em;
	
		.paragraph-content{
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
			line-height: 2.5rem;
			margin-bottom: 3em;
			padding-left: 15px;
			padding-right: 15px;
			text-align: justify;
		}
	
		.btn-area{
			display: block;
			margin: 0;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.img-fluid{
		display: block;
		margin: 0 auto;
		min-width: 100%;
	}
}
