// .produtos{
// 	&.solo{
// 		.produto-description{
// 			margin-top: 1.5em;
// 			margin-bottom: 2em;

// 			.images{
// 				.slide,
// 				.slide:before,
// 				.slick-slide,
// 				.image{
// 					transition: all 0.2s ease-in-out;
// 				}

// 				.slick-slide{
// 					padding: 0 0.5em;
// 				}

// 				.slide{
// 					border: 1px solid $light_gray;

// 					img{
// 						min-width: 100%;
// 					}
// 				}

// 				.slider-for{
// 					height: auto;

// 					.slick-list{
// 						height: auto;
// 					}

// 					.slide{
// 						.video{
// 							min-height: 300px;
// 							width: 100%;
// 						}
// 					}
// 				}

// 				.slider-nav{
// 					margin-top: 0.6em;

// 					.slick-slide{
// 						.slide{
// 							position: relative;
// 							&:before{
// 								content: '';
// 								background-color: $white;
// 								@include all-space();
// 								opacity: 0.3;
// 								transition: all 0.2s linear;
// 							}

// 							&.video{
// 								&:after{
// 									content: '';
// 									display: inline-block;
// 									width: 35px;
// 									height: 35px;
// 									// background: url('#{$path_img}element/play.png') 0 1px no-repeat;
// 									background: url('#{$path_img}element/play.png') -35px 1px no-repeat;
// 									background-size: cover;
// 									position: absolute;
// 									top: 50%;
// 									left: 50%;
// 									transform: translate(-50%, -50%); 
// 									transition: all 0.2s linear;          
// 								}
// 							}
// 						}

// 						&.slick-current{
// 							.slide{
// 								&:before{
// 									background-color: $black;
// 									opacity: 0.7;
// 								}

// 								&.video{
// 									&:after{
// 										background-position: 0 1px;   
// 									}
// 								}
// 							}

// 							&:hover{
// 								.slide{
// 									&:before{
// 										background-color: $light_gray;
// 										opacity: 0.7;
// 									}
// 								}
// 							}
// 						}

// 						&:not(.slick-current){
// 							.slide{
// 								cursor: pointer;

// 								&:hover{
// 									.image{
// 										opacity: 0.5;
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}

// 			.title{
// 				border-bottom: 1px solid $light_gray;
// 				font-family: $font_poppins;
// 				font-weight: 600;
// 				font-size: 2em;
// 				margin-bottom: 1em;
// 				padding-bottom: 1em;
// 				position: relative;
// 				z-index: 2;

// 				&:after{
// 					background: $color_2;
// 					content: '';
// 					display: block;
// 					height: 3px;
// 					position: absolute;
// 					bottom: -2px;
// 					left: 0;
// 					width: 20%;
// 					z-index: 2;
// 				}
// 			}

// 			.description{
// 				padding: 0 2em;

// 				.text, p{
// 					color: $black;
// 					font-size: 0.95em;
// 				}
// 			}
// 		}

// 		@media(max-width: 991px){
// 			.produto-description{
// 				margin-top: 0;
// 			}
// 		}

// 		@media(max-width: 767px){
// 			.produto-description{
// 				.images{
// 					padding: 0.5em;
// 				}

// 				.title{
// 					font-size: 1.5em;
// 				}

// 				.description{
// 					padding: 1em;
// 				}
// 			}
// 		}

// 		@media(min-width: 500px) and (max-width: 767px){
// 			.produto-description{
// 				.images{
// 					flex: 0 0 42%;
// 					max-width: 42%;
// 				}

// 				.description{
// 					flex: 0 0 58%;
// 					max-width: 58%;
// 				}
// 			}
// 		}

// 		@media(min-width: 768px) and (max-width: 991px){
// 			.produto-description{
// 				.images{
// 					padding-left: 0.5em;
// 				}

// 				.description{
// 					padding: 0;
// 				}
// 			}
// 		}
// 	}
// }
