.service-section{
	padding-top: 3rem;
    padding-bottom: 3rem;
}

.services{
	position: relative;
	overflow: hidden;

	&:not(.solo){
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('#{$path_img}service-background.jpg');
			background-size: cover;
    		background-repeat: no-repeat;
			z-index: -1;
		}
	}

	&.page{
		.title-area{
			margin-top: 1.8em;
		}

		.nav-pagination{
			margin-bottom: 6em;
		}
	}

	&>.container{
		z-index: 3;
	}

	.title-area{ margin-bottom: 2em; }

	.service-list{
		position: relative;

		.service{
			padding: 1.3em;

			&,.content,.content:after{ transition: all 0.2s ease-in-out; }
			
			.content{
				background: $card-bg;
				border-radius: 19px;
				color: $white;
				padding: 5em;
				position: relative;
				overflow: hidden;
				text-align: center;
				z-index: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
    			height: 100%;

				&:after{
					background: $card-bg;
					content: '';
					display: block;
					@include all-space();
					z-index: -1;
				}

				&:hover{
					.search{
						background: url('#{$path_img}/servicos/icons.png') -10px -10px;
					}

					.docs{
						background: url('#{$path_img}/servicos/icons.png') -10px -77px;
					}
				}
			}

			.search{
				background: url('#{$path_img}/servicos/icons.png') -82px -10px;
				background-repeat: no-repeat;
				width: 60px;
				height: 60px;
				display: block;
				margin: 0 auto 0.5rem auto;
			}

			.docs{
				background: url('#{$path_img}/servicos/icons.png') -79px -77px;
				background-repeat: no-repeat;
				width: 60px;
				height: 60px;
				display: block;
				margin: 0 auto 0.5rem auto;
			}

			.name{
				font-size: 1.8em;
				font-weight: 600;
				margin-bottom: 1em;
				color: $card-text-default;
			}

			.description{
				font-family: $font_montserrat;
				color: $card-text-default;
				font-size: 0.9em;
				margin-bottom: 3em;
				font-weight: 600;
			}

			.btn-area{
				display: inline-block;
				margin: 0 auto;
				text-align: center;
				transition: all 0.1s ease-in-out;
			}
			
			.link{
				@include all-space();
				z-index: 10;
			}

			&:hover{
				cursor: pointer;

				.content{
					&:after{
						background-color: rgba($color_1, 0.8);
					}
				}

				.btn-area{
					.btn{
						box-shadow: 0px 1px 10px 0px rgba($black, 0.3);
						color: darken($color_1, 5%);
						background: $btn-hover;
					}
				}
			}
		}
	}

	@media(max-width: 991px){
		&.page{
			.nav-pagination{
				margin-top: 1em;
				margin-bottom: 3em;
			}

			.title-area{
				margin-top: 0;
			}
		}
	}

	@media(max-width: 767px){
		&.page{
			.title-area{
				padding: 1em 2px 0;
				margin-bottom: 0;

				.title{ margin-bottom: 0; }
			}
		}

		.service-list{
			&:after{ display: none; }
			
			.service{
				.content{
					padding: 2em;
				}

				.name{ font-size: 1.3em; }

				.description{ margin-bottom: 2em; }
			}
		}
	}

	@media(min-width: 500px) and (max-width: 767px){
		.service-list{
			.service{
				padding: 0.8em 1.3em;
			}
		}
	}

	@media(min-width: 768px) and (max-width: 991px){
		&.page{
			.title-area{
				margin-bottom: 1em;
			}
		}

		.service-list{
			.service{
				.content{ padding: 2em; }
				.image{
					width: auto;
					min-width: 100%;
					max-width: 120%;
				}

				.name{ font-size: 1.5em; }
				.description{ margin-bottom: 2em; }
			}
		}
	}
}
